apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: counter-app-hpa
  namespace: counter-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: counter-app
  minReplicas: 4
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
